// webfont('Font-family', 'File-name', bold, normal)

webfont('Gotham Pro', 'GothamProBlack', 900, normal)
webfont('Gotham Pro', 'GothamProBlackItalic', 900, italic)
webfont('Gotham Pro', 'GothamProBold', bold, normal)
webfont('Gotham Pro', 'GothamProBoldItalic', bold, italic)
webfont('Gotham Pro', 'GothamProRegular', normal, normal)
webfont('Gotham Pro', 'GothamProItalic', normal, italic)
webfont('Gotham Pro', 'GothamProMedium_0', 300, normal)
webfont('Gotham Pro', 'GothamProMediumItalic', 300, italic)
webfont('Gotham Pro', 'GothamProLight', 200, normal)
webfont('Gotham Pro', 'GothamProLightItalic', 200, italic)