@media screen and (max-width 1300px)
	body
		font-size 14px
	.header-nav__item_dropdown:before
		left 2%
@media screen and (max-width 1100px)
	.hamburger
		display block
	.header-nav
		display none
@media screen and (max-width 600px)
	.header-phone__txt
		display none