*
	box-sizing border-box
html,
body
	height auto
.wrapper
	display flex
	flex-direction: column
	min-height 100vh
.content
	display flex
	flex 1 0 auto
.footer,
.header
	flex 0 0 auto
input
	margin 0
	padding 0
	border 0
	outline 0
	font-weight inherit
	font-style inherit
	font-family inherit
	font-size: 100%
	vertical-align baseline
