//VARIABELS
@import 'variabels'

//START STYLES
@import 'start-castom'

//MIXINS
@import 'mixins'

//FONTS
@import 'fonts'

//COMPONENTS
@import 'components'

// MODULES
// header
@import 'modules/header'

// footer
@import 'modules/footer'

// PAGES
//main-page
@import 'pages/index'